* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Bebas Neue Book";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.container {
  max-width: 1455px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  align-items: center;
  color: white;
  height: 94px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: rgba(41, 45, 51, 1);
  border: none;
  height: 74px;
}
.navbar-light .header-logo-path {
  fill: rgba(41, 45, 51, 1);
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}
.header {
  padding-top: 94px;
  min-height: 100vh;
}
.header-image {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.555);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0px 50px;
  height: 100%;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}
.header-nav-item {
  letter-spacing: 0.21px;
  word-spacing: -0.3px;
}
.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  margin-right: 50px;
  color: inherit;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 50px;
}

.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.button {
  padding: 25px 46px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
  background: rgba(92, 142, 230, 1);
  border: none;
  display: inline-block;
  cursor: pointer;
}
.navbar-button {
  flex-shrink: 0;
  height: 100%;
}

.header-button {
  height: 100%;
}
.header-content-button {
  padding: 26px 61px;
  word-spacing: 0.2px;
}

.seporator {
  width: 150px;
  height: 2px;
  background-color: rgba(92, 142, 230, 1);
}

.header-content {
  padding-top: 150px;
  padding-left: 14px;
  position: relative;
  z-index: 1;
  color: #fff;
}
.header-title {
  max-width: 1080px;
  font-family: "Bebas Neue Book", sans-serif;
  font-size: 80px;
  line-height: 120%;
  margin-top: 20px;
  margin-bottom: 30px;
  word-spacing: -3px;
  letter-spacing: 1px;
}
.header-text {
  max-width: 720px;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 50px;
  margin-top: 42px;
  letter-spacing: 0.16px;
}
.header-features {
  display: flex;
  max-height: 168px;
  padding: 0;
  padding-left: 14px;
  margin-top: 100px;
  margin-bottom: 0;
  list-style: none;
  color: #fff;
  position: relative;
}

.header-features-item {
  padding: 30px 50px;
  letter-spacing: 0.06px;
  word-spacing: 1px;
  width: 290px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 18px;
  margin-bottom: 0;
  max-width: 169px;
}
.section {
  margin-top: 150px;
  margin-bottom: 150px;
}
.section-seporator{
  margin-left: 14px;
}

.section-title {
  font-family: "Bebas Neue Book", sans-serif;
  font-size: 60px;
  line-height: 72px;
  color: rgba(41, 45, 51, 1);
  margin-top: 25px;
  padding-left: 14px;
  letter-spacing: 0.35px;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
  padding-left: 14px;
}
.steps-item {
  max-width: 330px;
}
.steps-num {
  font-family: "Bebas Neue Book";
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  color: rgba(92, 142, 230, 1);
  display: flex;
  align-items: center;
  gap: 30px;
  letter-spacing: 1px;
}
.steps-num::after {
  content: "";
  height: 1px;
  background: rgba(235, 235, 240, 1);
  width: 100%;
}
.steps-title {
  color: rgba(41, 45, 51, 1);
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 38px;
  margin-bottom: 10px;
  letter-spacing: 0.27px;
}

.steps-text {
  color: rgba(130, 138, 153, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 23px;
  letter-spacing: 0.2px;
}
.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(92, 142, 230, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.4px;
}

.steps-link::before {
  content: "";
  height: 1px;
  background: rgba(92, 142, 230, 1);
  width: 40px;
  margin-right: 20px;
  transition: width 0.3s ease;
}

.steps-link:hover::before {
  width: 60px;
}
